@import "../variables";

.categories {
	// overflow-x: auto;
	width: 75%;
	@media (max-width: 1290px) {
		width: 100%;
		text-align: center;
	}
	ul {
		.swiper-slide {
			width: fit-content;
		}
		.swiper-scrollbar-horizontal {
			height: var(--swiper-scrollbar-size, 3px);
			bottom: var(--swiper-scrollbar-bottom, 3px);
		}

		@media (max-width: 1290px) {
			display: flex;
			justify-content: center;
		}

		li {
			background-color: #f9f9f9;
			padding: 13px 30px;
			border-radius: 30px;
			font-weight: bold;
			cursor: pointer;
			transition: background-color 0.1s ease-in-out;
			@include noselect();
			@media (max-width: 1290px) {
				margin-bottom: 16px;
			}

			&:hover {
				background-color: darken(#f9f9f9, 2%);
			}

			&:active {
				background-color: darken(#f9f9f9, 5%);
			}

			&.active {
				background-color: #282828;
				color: #fff;
			}
		}
	}
}
